body{
  background-color: rgb(241, 245, 245);
  opacity: 0.7;
}

header{
  font-family: serif;
  font-size: 2.5vw;
  margin: 2%;
}

h1{
  text-align: center;
  margin: 0;
}

.homecontents{
  text-align: center;
  height: 120vw;
  margin-top: 8vw;
}

.contents{
  padding: 2%;
  height: 15vw;
}

.btn{
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  width: 50%;
  height: 50%;
  margin: auto;
  border: 2px solid black;
  color: black;
  border-radius: 4px;
}

.btn span{
  position: relative;
  z-index: 1;
  top: 20%;
  font-size: 3vw;
  font-family: serif;
}

.btn::before,
.btn::after{
  content: "";
  display: block;
  background-color: white;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: .2s;
}

.btn::before{
  left: 0;
}

.btn::after{
  right: 0;
}

.btn:hover:before,
.btn:hover:after {
  width: 0;
  background-color: #FFF;
}

.btn:hover {
  color: #FFF;
}

.btn-1{
  background-color: gray;
}

.title{
  font-family: serif;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 3%;
  border-bottom:2px solid black;
  font-size: 2vw;
}

.thesis{
  margin-left: 10%;
  margin-right: 5%;
  padding: 1%;
}


.name p{
  color: black;
  text-decoration: none;
  font-family: serif;
  font-size: 3vw;
  margin: 0;
  padding-top: 2%;
}

.name a{
  color: black;
  text-decoration: none;
  font-family: serif;
  font-size: 3vw;
  padding-bottom: 2%;
}

.campver{
  margin-right: 10%;
  margin-left: 10%;
}

.campver a{
  color: black;
  text-decoration: none;
  font-family: serif;
  font-size: 3vw;
}

.camptask{
  margin-right: 10%;
  margin-left: 10%;
  font-family: serif;
}

.task{
  font-size: 2vw;
}

.task a{
  color: black;
  text-decoration: none;
  padding-left: 5%;
}

.items{
  height: 20vw;
}
h3{
  font-family: serif;
  font-size: 6vw;
  text-align: center;
}
.item{
  height: 20vw;
}

.footmenu{
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
  border-top:2px solid black;
}

.footmenu a{
  color: black;
  text-decoration: none;
  font-family: serif;
}

ul{
  display: flex;
  padding: 0;
}

li{
  list-style: none;
  text-align: center;
  width: 100%;
}

footer{
  text-align: center;
  font-size: 1.5vw;
}

.top{
  position   : relative;
  height     : 60vw;
  overflow   : hidden;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.top .top1{
  position   : absolute;
  background-size: cover;
  top        : 0;
  left       : 0;
  bottom     : 0;
  right      : 0;
  opacity    : 0;
  animation  : bgAnime 20s infinite;
}

.top .topsrc1{
  background-image: url("img/top.JPG");
}

.top .topsrc2{
  background-image: url("img/IMG_0745.JPG");
  animation-delay  : 5s;
}

.top .topsrc3{
  background-image: url("img/IMG_2161.JPG");
  animation-delay  : 10s;
}

.top .topsrc4{
  background-image: url("img/IMG_0751.JPG");
  animation-delay  : 15s;
}

.box {
  position   : relative;
  height     : 60vw;
  overflow   : hidden;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.box .bgImg {
  position   : absolute;
  background-size: cover;
  top        : 0;
  left       : 0;
  bottom     : 0;
  right      : 0;
  opacity    : 0;
  animation  : bgAnime 20s infinite;
}

.box .src1 {
  background-image : url("img/IMG_0744.JPG");   /* 背景の画像を指定 */
}
.box .src2 {
  background-image : url("img/IMG_0747.JPG");   /* 背景の画像を指定 */
  animation-delay  : 5s;
}
.box .src3 {
  background-image : url("img/IMG_0748.JPG");   /* 背景の画像を指定 */
  animation-delay  : 10s;
}
.box .src4 {
  background-image : url("img/IMG_0749.JPG");   /* 背景の画像を指定 */
  animation-delay  : 15s;
}

@keyframes bgAnime {
  0% { opacity: 0; }
  5% { opacity: 1; }
 25% { opacity: 1; }
 30% { opacity: 0; }
100% { opacity: 0; }
}
