/* 全体に反映 */
body{
  background-color: rgb(241, 245, 245);
  opacity: 0.7;
}
header {
  font-family: serif;
  font-size: 2.5vw;
  margin: 2%;
  height: 20%;
  text-align: center;
}
.title{
  font-family: serif;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 0;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 3%;
  border-bottom:2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  position: fixed;
  height: 78px;
  width: 83%;
  top: 0;
  background-color: rgb(241, 245, 245);
  opacity: 0.9;
}
.title a{
  color: black;
  font-size: 3vw;
  text-decoration: none;
}
.footmenu{
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
  border-top:2px solid black;
}
.footmenu a{
  color: black;
  text-decoration: none;
  font-family: serif;
}
ul{
  display: flex;
  padding: 0;
}
li{
  list-style: none;
  text-align: center;
  width: 100%;
}
footer{
  text-align: center;
  font-size: 1.5vw;
}
/* ハンバーガーメニュー */
/* チェックボックスは非表示に */
.drawer-hidden {
  display: none;
}
/* ハンバーガーアイコンの設置スペース */
.drawer-open {
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;/* 重なり順を一番上に */
  cursor: pointer;
}
/* ハンバーガーメニューのアイコン */
.drawer-open span,
.drawer-open span:before,
.drawer-open span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #333;
  transition: 0.5s;
  position: absolute;
}
/* 三本線のうち一番上の棒の位置調整 */
.drawer-open span:before {
  bottom: 8px;
}
/* 三本線のうち一番下の棒の位置調整 */
.drawer-open span:after {
  top: 8px;
}
/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer-check:checked ~ .drawer-open span {
  background: rgba(255, 255, 255, 0);
}
/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer-check:checked ~ .drawer-open span::before {
  bottom: 0;
  transform: rotate(45deg);
}
#drawer-check:checked ~ .drawer-open span::after {
  top: 0;
  transform: rotate(-45deg);
}
/* メニューのデザイン*/
.drawer-content {
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  position: fixed;
  top: 0;
  left: 100%;/* メニューを画面の外に飛ばす */
  z-index: 99;
  background: white;
  opacity: 0.7;
  transition: .5s;
}
/* アイコンがクリックされたらメニューを表示 */
#drawer-check:checked ~ .drawer-content {
  left: 0;/* メニューを画面に入れる */
}
.drawer-list{
  display: inline;
}
.drawer-item{
  padding-top: 3%;
  padding-bottom: 2%;
}
.drawer-item a{
  font-size: 150%;
  color: black;
}



/* index.htmlに反映 */
.homecontents{
  text-align: center;
  height: 120vw;
  margin-top: 8vw;
}
.contents{
  padding: 2%;
  height: 15vw;
}
.btn{
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  width: 50%;
  height: 50%;
  margin: auto;
  border-bottom: 2px solid black;
  color: black;
  border-radius: 4px;
  transition: .4s;
}
.btn span{
  position: relative;
  z-index: 1;
  top: 20%;
  font-size: 3vw;
  font-family: serif;
}
.btn:hover{
  background-color: gray;
  color: white;
}


/* Graduation thesisに反映 */
.thesis{
  margin-top: 15%;
  margin-left: 10%;
  margin-right: 5%;
  padding: 1%;
}
.name p{
  color: black;
  text-decoration: none;
  font-family: serif;
  font-size: 3vw;
  margin: 0;
  padding-top: 2%;
}
.name a{
  color: black;
  text-decoration: none;
  font-family: serif;
  font-size: 3vw;
  padding-bottom: 2%;
}

/* wintercampに反映 */
.campver{
  margin-right: 10%;
  margin-left: 10%;
}
.campver a{
  color: black;
  text-decoration: none;
  font-family: serif;
  font-size: 3vw;
}
.winterver{
  border-bottom: 2px solid black;
}
.camptask{
  margin-right: 10%;
  margin-left: 10%;
  font-family: serif;
  text-align: center;
}
.task{
  padding-bottom: 3%;
}
.task p{
  font-size: 2vw;
}
.task a{
  color: black;
  text-decoration: none;
  font-size: 2vw;
}

/* 冬合宿の各チームのページに反映 */
.camptask1{
  margin-top: 18%;
  margin-right: 10%;
  margin-left: 10%;
  font-family: serif;
  text-align: center;
}
.camptask1-1{
  font-size: 2vw;
}
.camptask1-2{
  font-size: 2.5vw;
}
.winterimg{
  margin:2% 10% 2% 10%;
  text-align: center;
}
.winterimg1{
  width: 80%;
  height: 80%;
  padding: 1%;
}
.winterteam{
  margin:2% 10% 2% 10%;
  text-align: center;
}



/* businessに反映 */
.businesstask{
  margin-right: 10%;
  margin-left: 10%;
  font-family: serif;
  text-align: center;
}
.busitask{
  padding-bottom: 3%;
}
.busitask a{
  color: black;
  text-decoration: none;
  font-size: 2vw;
}
.busitask p{
  font-size: 2vw;
}

/* caseに反映 */
.casetask{
  margin-right: 10%;
  margin-left: 10%;
  font-family: serif;
  text-align: center;
}
.casetask{
  padding-bottom: 3%;
}
.casetask a{
  color: black;
  text-decoration: none;
  font-size: 2vw;
}
.casetask p{
  font-size: 2vw;
}

/* coming soon */
.items{
  margin-top: 14%;
  height: 20vw;
}
h3{
  font-family: serif;
  font-size: 6vw;
  text-align: center;
}
.item{
  height: 20vw;
}

/*アニメーション4枚*/
/* index.htmlのアニメーション */
.top{
  position   : relative;
  height     : 60vw;
  overflow   : hidden;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
  margin-bottom: 1%;
}
.top .top1{
  position   : absolute;
  background-size: cover;
  top        : 0;
  left       : 0;
  bottom     : 0;
  right      : 0;
  opacity    : 0;
  animation  : bgAnime 16s infinite;
}
.top .topsrc1{
  background-image: url("img/top.JPG");
}
.top .topsrc2{
  background-image: url("img/IMG_0745.JPG");
  animation-delay  : 4s;
}
.top .topsrc3{
  background-image: url("img/IMG_2161.JPG");
  animation-delay  : 8s;
}
.top .topsrc4{
  background-image: url("img/IMG_0751.JPG");
  animation-delay  : 12s;
}
/* 冬合宿のアニメーション */
.box {
  position   : relative;
  height     : 60vw;
  overflow   : hidden;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 18%;
  margin-bottom: 1%;
}
.box .bgImg {
  position   : absolute;
  background-size: cover;
  top        : 0;
  left       : 0;
  bottom     : 0;
  right      : 0;
  opacity    : 0;
  animation  : bgAnime 16s infinite;
}
.box .src1 {
  background-image : url("img/IMG_0744.JPG");   /* 背景の画像を指定 */
}
.box .src2 {
  background-image : url("img/IMG_0747.JPG");   /* 背景の画像を指定 */
  animation-delay  : 4s;
}
.box .src3 {
  background-image : url("img/IMG_0748.JPG");   /* 背景の画像を指定 */
  animation-delay  : 8s;
}
.box .src4 {
  background-image : url("img/IMG_0749.JPG");   /* 背景の画像を指定 */
  animation-delay  : 12s;
}
/* ケースのアニメーション */
.casetop{
  position   : relative;
  height     : 60vw;
  overflow   : hidden;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 15%;
  margin-bottom: 1%;
}
.casetop .casetop1{
  position   : absolute;
  background-size: cover;
  top        : 0;
  left       : 0;
  bottom     : 0;
  right      : 0;
  opacity    : 0;
  animation  : bgAnime 16s infinite;
}
.casetop .casetopsrc1{
  background-image: url("img/logo/starbackslogo.png");
  background-position: center;
}
.casetop .casetopsrc2{
  background-image: url("img/logo/Shiseido_logo.svg.png");
  animation-delay  : 4s;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}
.casetop .casetopsrc3{
  background-image: url("img/logo/nissanlogo.png");
  animation-delay  : 8s;
  background-size: 80%;
  background-position: center;
}
.casetop .casetopsrc4{
  background-image: url("img/logo/uniqlo-logo.png");
  animation-delay  : 12s;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
@keyframes bgAnime {
  0% { opacity: 0; }
  5% { opacity: 1; }
 25% { opacity: 1; }
 30% { opacity: 0; }
100% { opacity: 0; }
}

/* アニメーション5枚 */
/* ビジプレのアニメーション */
.busitop{
  position   : relative;
  height     : 60vw;
  overflow   : hidden;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 14%;
  margin-bottom: 1%;
}
.busitop .busitop1{
  position   : absolute;
  background-size: cover;
  top        : 0;
  left       : 0;
  bottom     : 0;
  right      : 0;
  opacity    : 0;
  animation  : bgAnime 20s infinite;
}
.busitop .busisrc1{
  background-image: url("img/logo/toto.logo.svg");
}
.busitop .busisrc2{
  background-image: url("img/logo/daiso_logo.png");
  animation-delay  : 4s;
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}
.busitop .busisrc3{
  background-image: url("img/logo/Zojirushi_logo.svg.png");
  animation-delay  : 8s;
  background-size: 95%;
  background-position: center;
  background-repeat: no-repeat;
}
.busitop .busisrc4{
  background-image: url("img/logo/analogo.png");
  animation-delay  : 12s;
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}
.busitop .busisrc5{
  background-image: url("img/logo/yukizirushi.png");
  animation-delay  : 16s;
  background-size: 95%;
  background-position: center;
  background-repeat: no-repeat;
}
@keyframes bgAnime {
  0% { opacity: 0; }
  5% { opacity: 1; }
 20% { opacity: 1; }
 25% { opacity: 0; }

100% { opacity: 0; }
}